<% if current_user %>
	<div class="user-info">
		<div class="user-logo-icon"></div>
		<div class="user-credentials">
			<p class="user-credentials-text"><%= current_user.first_name %> <%= current_user.last_name %></p>
			<p class="user-credentials-text">Username: <%= current_user.username %></p>
			<p class="user-credentials-text">Email: <%= current_user.email %></p>
		</div>
		<%= link_to 'new deck', new_deck_path, :class => 'user-new-deck' %>
		<%= link_to 'upload deck', upload_path, :class => 'user-upload-deck' %>
	</div>
	<div class="user-played-decks">
		<% @decks.each do |deck| %>
			<div class="user-deck">
				<%= deck %>
			</div>
		<% end %>
	</div>
	<ul class="user-options">
		<li class='user-options-item'><%= link_to 'log out', logout_path, :class => "user-options-item" %></li>
		<li class='user-options-item'><%= link_to 'preferences', edit_user_path, :class => 'user-options-item' %></li>
		<div class="user-gear"></div>
	</ul>
	<div class="modal-screen"></div>
	<div class="user-deck-modal">
		<%= form_for @deck do |f| %>
		<%= f.label :title, :class =>"upload-form-label" %><br>
	  	<%= f.text_field :title, :required => true %><br>
	  	<%= f.label :description, :class =>"upload-form-label" %><br>
	  	<%= f.text_area :description, :size => "60x12", :required => true  %><br>
	  	<%= f.label :deck_image, :class =>"upload-form-label" %>
	  	<%= f.file_field :deck_image, :accept => "image/*" %>
	  	<%= f.label :make_your_deck_private, :class =>"upload-form-label" %>
	  	<%= f.select :private?, [['Public', 1], ['Private', 2]] %><br>
		<% end %>
	</div>
<% end %>
